.mydiv{

margin-top: -150px;
margin-left: 278px;
width: auto;
height: 879px;

background: #003049 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 0.03;

}
.cardUI1{

    margin: 20px;
    width: 15rem;
    height: 10rem;
    
    
    position: absolute;
    z-index: 1;

   
    
   
   
}
.grid2{
    margin-top: 276px;
    margin-left: 100px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.myTitle{
    margin-top: 2px;
    width: 291px;
    height: 65px;
    text-align: left;
   font: normal normal 600 23px/35px Montserrat;
   letter-spacing: 0px;
   color: #000000;
   opacity: 1;
  

}
